// colours
ghost-white = #FBFBFD
east-bay = #51596E
hawkes-blue = #D4D6E5
spindle = #B8BFD5
chetwode = #546DC6
echo-blue = #ADB2CF
pale-blue = #5F77CA
navy-blue = #475FB1

// mixins
placeholder()
    color echo-blue
    font-size 0.7em
    text-align center

body
    font-family 'Raleway Regular'

#container
    md-toolbar
        background-color chetwode !important
    .logo
        background-color pale-blue
        font-weight bold
    .input-text
        border-radius 15px
        background-color navy-blue
        border-width 0

::-webkit-input-placeholder
    placeholder()

:-moz-placeholder
    placeholder()

::-moz-placeholder
    placeholder()

:-ms-input-placeholder
    placeholder()