// colours
ghost-white = #FBFBFD
east-bay = #51596E
hawkes-blue = #D4D6E5
spindle = #B8BFD5
chetwode = #546DC6
echo-blue = #ADB2CF
pale-blue = #5F77CA
navy-blue = #475FB1
swifth-red = #FF3D63
light-blue = #F5F6FB

// mixins
placeholder()
    color echo-blue
    font-size 0.7em
    text-align center

body
    font-family 'Raleway Regular'

#container
    md-toolbar
        background-color chetwode !important
    .logo
        background-color pale-blue
        font-weight bold
    .input-text
        border-radius 15px
        background-color navy-blue
        border-width 0
        text-align center
    #page
        #sidebar
            .menu-icons
                max-width 25px
                min-height 25px
    #content
        background-color light-blue
        .header
            background-color light-blue
        .header-labels *
            text-transform capitalize
        .featured
            font-weight bold
        .line
            //border-bottom 1px solid spindle
            background-color spindle
            height 2px
            .pointer
                //border-bottom 1px solid swifth-red
                background-color swifth-red
        .item-list
            padding-top 10px
        .card
            .stream-image
                img
                    null


::-webkit-input-placeholder
    placeholder()

:-moz-placeholder
    placeholder()

::-moz-placeholder
    placeholder()

:-ms-input-placeholder
    placeholder()