body {
  font-family: 'Raleway Regular';
}
#container md-toolbar {
  background-color: #546dc6 !important;
}
#container .logo {
  background-color: #5f77ca;
  font-weight: bold;
}
#container .input-text {
  border-radius: 15px;
  background-color: #475fb1;
  border-width: 0;
  text-align: center;
}
#container #page #sidebar .menu-icons {
  max-width: 25px;
  min-height: 25px;
}
#container #content {
  background-color: #f5f6fb;
}
#container #content .header {
  background-color: #f5f6fb;
}
#container #content .header-labels * {
  text-transform: capitalize;
}
#container #content .featured {
  font-weight: bold;
}
#container #content .line {
  background-color: #b8bfd5;
  height: 2px;
}
#container #content .line .pointer {
  background-color: #ff3d63;
}
#container #content .separator {
  padding-bottom: 40px;
}
#container #content .card {
  margin-bottom: 5vh;
}
#container #content .card .stream-image img {
  max-width: 100%;
  max-height: 100%;
}
#container #content .card .stream-info {
  background-color: #fbfbfd;
  width: 100%;
}
#container #content .card .stream-info .main-info .watching {
  font-size: 0.8em;
  color: #ff3d63;
  margin-right: 10px;
}
#container #content .card .stream-info .main-info .started {
  font-size: 0.8em;
  color: #b8bfd5;
}
#container #content .card .stream-info .tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  vertical-align: center;
  justify-content: space-around;
}
#container #content .card .stream-info .tags span {
  font-size: 0.7em;
  text-transform: uppercase;
  border-radius: 15px;
  border: 1px solid #b8bfd5;
  color: #b8bfd5;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  margin: auto;
}
::-webkit-input-placeholder {
  color: #adb2cf;
  font-size: 0.7em;
  text-align: center;
}
:-moz-placeholder {
  color: #adb2cf;
  font-size: 0.7em;
  text-align: center;
}
::-moz-placeholder {
  color: #adb2cf;
  font-size: 0.7em;
  text-align: center;
}
:-ms-input-placeholder {
  color: #adb2cf;
  font-size: 0.7em;
  text-align: center;
}
