// colours
ghost-white = #FBFBFD
east-bay = #51596E
hawkes-blue = #D4D6E5
spindle = #B8BFD5
chetwode = #546DC6
echo-blue = #ADB2CF
pale-blue = #5F77CA
navy-blue = #475FB1
swifth-red = #FF3D63
light-blue = #F5F6FB

// mixins
placeholder()
    color echo-blue
    font-size 0.7em
    text-align center

border-radius-top(value)
    border-radius value value 0 0

border-radius-bottom(value)
    border-radius 0 0 value value

// variables
top-border-radius = 5px
bottom-border-radius = 5px

body
    font-family 'Raleway Regular'

#container
    md-toolbar
        background-color chetwode !important
    .logo
        background-color pale-blue
        font-weight bold
    .input-text
        border-radius 15px
        background-color navy-blue
        border-width 0
        text-align center
    #page
        #sidebar
            .menu-icons
                max-width 25px
                min-height 25px
    #content
        background-color light-blue
        .header
            background-color light-blue
        .header-labels *
            text-transform capitalize
        .featured
            font-weight bold
        .line
            //border-bottom 1px solid spindle
            background-color spindle
            height 2px
            .pointer
                //border-bottom 1px solid swifth-red
                background-color swifth-red
        .separator
            padding-bottom 40px
        .item-list
            null
        .card
            margin-bottom 5vh
            background-color ghost-white
            border-radius-bottom(bottom-border-radius)
            .stream-image
                img
                    max-width 100%
                    max-height 100%
                    border-radius-top(top-border-radius)
            .stream-info
                width 100%
                .main-info
                    //font-weight 600
                    null
                    .watching
                        font-size 0.8em
                        color swifth-red
                        margin-right 10px
                    .started
                        font-size 0.8em
                        color spindle
                .tags
                    display flex
                    flex-wrap wrap
                    align-items center
                    align-content space-around
                    vertical-align center
                    justify-content space-around
                    span
                        font-size 0.7em
                        text-transform uppercase
                        border-radius 15px
                        border 1px solid spindle
                        color spindle
                        padding-right 10px
                        padding-left 10px
                        padding-top 5px
                        padding-bottom 5px
                        font-weight bold
                        margin auto
            .user-info
                .profile-picture
                    width 30px
                    height 30px
                    border-radius 30px
                .user
                    null


::-webkit-input-placeholder
    placeholder()

:-moz-placeholder
    placeholder()

::-moz-placeholder
    placeholder()

:-ms-input-placeholder
    placeholder()