<!DOCTYPE html>
<html lang="en">

<head>
    <title>Online Chat</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1" />
    <!-- <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'> -->
    <link href="https://fonts.googleapis.com/css?family=Arvo|Molengo|Rubik" rel="stylesheet">
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css" />
    <link rel="stylesheet" href="assets/app.css" />
    <link rel="stylesheet" href="online_chat.css" />
</head>

<body ng-app="chatApp" layout="column" ng-controller="ChatController as vm" ng-cloak>
    <div flex layout="row">
        <md-sidenav md-is-locked-open="$mdMedia('gt-md')" class="md-whiteframe-4dp">
            <div class="sidebar" flex layout="column">
                <div class="profile-background md-whiteframe-2dp">
                    <div id="profile-content" flex layout="column" layout-padding layout-wrap layout-align="end">
                        <span flex></span>
                        <img ng-src="assets/images/04.jpg" class="profile-image md-whiteframe-1dp" alt="Profile Background">
                        <span flex></span>
                        <h3 class="profile-username">Vincenzo Messina</h3>
                    </div>
                </div>

                <div class="sidebar-text" flex layout-padding layout-wrap>
                  <!-- <div class="online-now">Online Now</div> -->
                  <md-list>
                      <md-subheader class="md-no-sticky">Online Now</md-subheader>
                      <md-list-item class="md-1-line" ng-repeat="chat in vm.chats" ng-click="null" ng-if="chat.online">
                          <span>{{ chat.name }}</span>
                      </md-list-item>
                  </md-list>
                </div>

            </div>
            
            <md-list>
            </md-list>
        </md-sidenav>

        <md-content flex id="chat-section">
            <md-toolbar layout="row">
                <div class="md-toolbar-tools">
                    <span>A Random Room</span>
                    <span flex></span>
                    <span>
                      <md-icon md-svg-icon="assets/svg/account_white.svg" class=""></md-icon>
                      {{ vm.numberUsersOnline }}
                    </span>
                </div>
            </md-toolbar>

            <md-content id="chat-content" md-scroll-y class="md-padding" scroll-glue>
                <md-list flex>
                    <!-- <md-subheader class="md-no-sticky">Subheader</md-subheader> -->
                    <md-list-item class="md-3-line" ng-repeat="chat in vm.chats" ng-click="null">
                        <img ng-src="{{ chat.image }}" class="md-avatar" alt="" style="border: 3px solid {{ chat.color  }}; padding: 0;">
                        <div class="is-online" ng-if="chat.online"></div>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ chat.name }}</h3>
                            <p>{{ chat.comment }}</p>
                        </div>
                        <span layout="column">{{ chat.time }}</span>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
                <md-divider></md-divider>
            </md-content>
            <md-content flex layout-padding layout-wrap class="md-padding" layout="row">
                <md-input-container flex>
                    <label>Type Message...</label>
                    <input type="text" ng-model="user.name">
                </md-input-container>
                <md-button class="md-fab md-primary" aria-label="Send Message">
                    <md-icon md-svg-src="assets/svg/send_white.svg"></md-icon>
                </md-button>
            </md-content>
        </md-content>
    </div>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>
    <script src="online_chat_app.js"></script>
    <script src="online_chat_controller.js"></script>
</body>

</html>
