body {
    /*font-family: 'Arvo', serif;*/
    font-family: 'Rubik', sans-serif;
}

#chat-section {
    background-color: #EEEEEE;
}

#chats {
    overflow-y: auto;
}

#chat-content {
    height: calc(100vh - 220px);
}

.sidebar {}

.profile-background {
    background-image: url('assets/images/08.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #cccccc;
    min-height: calc(100vh - 75%);
    min-width: 100%;
    overflow: hidden;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 55px;
    border: 3px solid #F9BDD8;
    padding: 0;
}

.profile-username {
    color: #FFFFEE;
    text-shadow: 1px 1px #334477;
    font-family: 'Roboto', sans-serif;
}

.sidebar-text .online-now {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: #BABABA;
}

#chat-content .is-online {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 30px;
    background-color: #97D42F;
    margin-left: 31px;
    margin-top: 15px;
}


/*Remove unused is-typing class*/

#chat-content #typing-wrapper .is-typing {
    font-style: italic;
    font-weight: lighter;
    width: 50px;
    height: 25px;
    background-color: #E1E2E3;
    border-radius: 4px;
    margin-top: 5px;
}

#chat-content #typing-wrapper .is-typing div {
    background-color: black;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-right: 2px;
}

#chat-content #typing-wrapper .is-typing .first {
    -webkit-animation: color_change_start 1s infinite reverse;
    -moz-animation: color_change_start 1s infinite reverse;
    -ms-animation: color_change_start 1s infinite reverse;
    -o-animation: color_change_start 1s infinite reverse;
    animation: color_change_start 1s infinite reverse;
}

#chat-content #typing-wrapper .is-typing .second {
    -webkit-animation: color_change_middle 1s infinite reverse;
    -moz-animation: color_change_middle 1s infinite reverse;
    -ms-animation: color_change_middle 1s infinite reverse;
    -o-animation: color_change_middle 1s infinite reverse;
    animation: color_change_middle 1s infinite reverse;
}

#chat-content #typing-wrapper .is-typing .third {
    -webkit-animation: color_change_end 1s infinite reverse;
    -moz-animation: color_change_end 1s infinite reverse;
    -ms-animation: color_change_end 1s infinite reverse;
    -o-animation: color_change_end 1s infinite reverse;
    animation: color_change_end 1s infinite reverse;
}

@keyframes color_change_start {
    0% { background-color: #C3C5C7 }
    50% { background-color: #5E5F5F }
    100% { background-color: #4E4E4F }
}

@keyframes color_change_middle {
    0% { background-color: #5E5F5F }
    50% { background-color: #4E4E4F }
    100% { background-color: #C3C5C7 }
}

@keyframes color_change_end{
    0% { background-color: #4E4E4F }
    50% { background-color: #C3C5C7 }
    100% { background-color: #5E5F5F }
}
