// Refer to palette
// background
dark-primary-color = #00796B
default-primary-color = #009688
light-primary-color = #B2DFDB

// color
text-primary-color = #FFFFFF
accent-color = #FFC107
primary-text-color = #212121
secondary-text-color = #757575

// border-color
divider-color = #BDBDBD
