// colors
dark-primary-color = #616161
accent-color = #607D8B
primary-color = #9E9E9E
primary-text = #212121
secondary-text = #757575
divider-color = #BDBDBD

body
    font-family 'Raleway Regular'

#container
    background-color dark-primary-color
    .header
        color primary-color
    .content
        min-height 90%
        .firstLanguage
            min-height 20%
            min-width 100%
        .mainLanguage
            font-size 9vh
            color divider-color
        .secondLanguage
            min-height 20%
            min-width 100%
    .footer
        color primary-color